{% extends 'base.html' %}

{% block title %} Order Form {% endblock title %}
{% block header-content %}
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 {% endblock header-content %}

{% block content %}

    <center>
        <h1><u>Place Order</u></h1>

    <div class="container" style="border-radius:15px;border-style:groove;background-color:#f3f3f3">
        <div class="col-md-5">
            <div class="form-area">
                <form role="form" action="{% url 'feedback' %}" method="post">
                    {% csrf_token %}
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Enter Your Order Below</h3>
                    <div class="form-group">
                        <p><b>Enter Your Name</b></p><br>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <p><b>Enter Email Address</b></p><br>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <p><b>Enter Mobile Number</b></p><br>
                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number"
                               required>
                    </div>
                    <div class="form-group">
                        <p><b>Enter Area of Residence</b></p><br>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Residential area"
                               required>
                    </div>
                    <div class="form-group">
                        <p><b>State Yor Stationary and quantity</b></p><br>
                        <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Stationary"
                                  maxlength="140" rows="7"></textarea>

                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right"style="">Submit Order
                    </button>
                </form>
            </div>


            {% if  success %}
                <div class="row">
                    <p style="color: red">
                        Order placed succesfully
                    </p>
                </div>
            {% endif %}

        </div>
    </div>
    </center>

{% endblock %}