{% extends 'base.html' %}
{% block header %}
{% block title %}
Lizaya | Home
{% endblock title %}

{% endblock header %}
{% block content %}
{% load static %}


<style>
      * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:green;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:270px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left:270px;
  border-radius: 3px 0 0 3px;
}
.pre {
  left:270px;
  }
.nex {
  right:270px;
}
.pre,
.nex {
  position: absolute;
  top: 95%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:green;
  font-weight: bold;
  font-size: 20px;
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 40px;
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 5px;

  width:70%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.slider {
	width:290px;
	margin: 2em auto;
	margin-left:40px;
	top:0px;
	 border-radius:7px 7px 7px 7px;

}

.slider-wrapper {
	width:100%;
	height:300px;
	position: relative;
	 border-radius:7px 7px 7px 7px;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 4s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
section {
    float: left;
    position: relative;
    width: 100%;
}


/*--- footer ---*/

footer {
    background: #fff;
    float: left;
    padding: 75px 0;
    width: 100%;
    position: relative;
}

footer::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 0%, #2fa7cd 50%, #ffffff 100%) repeat scroll 0 0;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.widget {
    float: left;
    width: 100%;
}

.foot-logo > p {
    color: #545454;
}

.location {
    list-style: outside none none;
    padding-left: 0;
    margin: 0;
}

.location > li {
    display: block;
    margin-bottom: 15px;
}

.location > li:last-child {
    margin-bottom: 0;
}

.ti-map-alt {
    display: inline-block;
    margin-right: 10px;
    vertical-align: sub;
    width: 20px;
}

.location > li i {
    margin-right: 10px;
    color: #4b4b4b;
}

.location > li p {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 88%;
    margin-bottom: 0;
    color: #545454;
}

.widget > a {
    display: inline-block;
    margin-bottom: 32px;
}

.widget-title {
    float: left;
    margin-bottom: 35px;
    width: 100%;
}

footer .widget-title h4 {
    color: #424242;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

footer .widget-title h4::before {
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 20%;
}

footer .widget-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.widget .list-style {
    list-style: outside none none;
    padding-left: 0;
    margin-bottom: 0;
}

.list-style > li {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 12px;
    text-transform: capitalize;
    width: 100%;
}

.list-style > li:last-child {
    margin-bottom: 0;
}

.list-style > li > i {
    margin-right: 15px;
}

.list-style > li a {
    position: relative;
}

a.underline {
    position: relative;
}

a.underline:before,
.list-style li > a:before {
    background: #545454;
    bottom: -5px;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    transition: all 0.2s linear 0s;
}

a.underline:hover:before,
.list-style li > a:hover:before {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.foot-logo {
    display: inline-block;
    width: 100%;
}

footer .logo {
    margin-bottom: 15px;
    width: 100%;
}

.logo > a {
    display: inline-block;
    vertical-align: middle;
}

.logo > h4 {
    display: inline-block;
    font-family: HoboStd;
    margin-bottom: 0;
    vertical-align: middle;
    width: 80%;
    color: #3e3e3e;
}
</style>

<!-- Container for the image gallery -->
{% for post in posts %}

<table class="card"style="width:100%;background-color:pink">
    <tr>
<td style="width:70%;text-align:center">
    <div class="card_header">

        <div class="profile_image"style="float:left;">
            <img style="display: inline-block;
            height: 65px;
            width: 65px;
            padding: 0;
            margin: -3px;
            border: 0 solid #000;
            border-radius: 30%;" src="{{post.author.profile.image.url}}" alt="">
        </div>

        <div class="post_info"style="float:left">
            <h1><a href=""><div class="post_name"><b>{{post.author}}</b></div></a></h1>
            <div class="post_location">{{post.author.profile.address}}</div>
        </div>


    </div>

    <div class="caption"style="background-color:white;border-radius:5px;margin-top:20px">
        <div class="post_image"style="width:100%">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="">
        {% endif %}

        {% if post.video %}
        <video src="{{post.video.url}}" controls height="100%" width="100%"></video>
        {% endif %}
    </div>
    </div>
</td>
    <td style="100%">
        <div>
    <p><h3 style="margin-left:70px;font-size:40px;top:50px;position:absolute">{{ post.body }}</h3></p>
    </div>
    <div class="engagement">

    <div class="caption"style="text-align:center">
        <span><p><h5>-{{post.caption}}</h5></p></span>
    </div>
        Posted on: {{post.created_date | date:"F d, Y"}}

    </div>

</div>
    </td>
</tr>
</table>
{% endfor %}
<script>
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

(function() {

	function Slideshow( element ) {
		this.el = document.querySelector( element );
		this.init();
	}

	Slideshow.prototype = {
		init: function() {
			this.wrapper = this.el.querySelector( ".slider-wrapper" );
			this.slides = this.el.querySelectorAll( ".slide" );
			this.previous = this.el.querySelector( ".slider-previous" );
			this.next = this.el.querySelector( ".slider-next" );
			this.index = 0;
			this.total = this.slides.length;
			this.timer = null;

			this.action();
			this.stopStart();
		},
		_slideTo: function( slide ) {
			var currentSlide = this.slides[slide];
			currentSlide.style.opacity = 1;

			for( var i = 0; i < this.slides.length; i++ ) {
				var slide = this.slides[i];
				if( slide !== currentSlide ) {
					slide.style.opacity = 0;
				}
			}
		},
		action: function() {
			var self = this;
			self.timer = setInterval(function() {
				self.index++;
				if( self.index == self.slides.length ) {
					self.index = 0;
				}
				self._slideTo( self.index );

			}, 4000);
		},
		stopStart: function() {
			var self = this;
			self.el.addEventListener( "mouseover", function() {
				clearInterval( self.timer );
				self.timer = null;

			}, false);
			self.el.addEventListener( "mouseout", function() {
				self.action();

			}, false);
		}


	};

	document.addEventListener( "DOMContentLoaded", function() {

		var slider = new Slideshow( "#main-slider" );

	});


})();

</script>{% endblock %}
