{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Contact Me
{% endblock %}
{% block content %}
<center>
<div class="contct"style="margin-top:9%">
    <div>
        <p>

        <h1><u>Where to Find Me</u></h1>
        <h2><i>You can find me next to Cheers Hotel in Mlolongo Machakos County</i></h2>

    </div>
        <h1><u>You Can Reach Out To Me Personally Through:</u></h1>

    <div style="margin-top:15px;background-color:#77cde3">
               <div>
    <p style="font-size:30px">My Mobile Number: 0715782132(Call or WhatsApp me)<br>
      My Email Address: joshenterprized@gmail.com<br>
          My Email Address: adejosh6759@gmail.com<br>
        My Facebook Page:Josh Enterprises</p>
        </div>
</div>
</center>

{% endblock %}