{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Josh Classicals {% endif %}
{% endblock %}
{% block content %}
<center>
<div class="contct"style="margin-top:9%">
    <div>
        <p>
            <h1><u>About Me</u></h1>
            <h4><u>I offer and make the following types of furniture</u></h4>

        <table style="">
            <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 1.Wall Units and Tv Stands</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>2.Tables and Coffee Tables</b>
                   </p>
                </td>
            </tr>
 <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 3.Beds</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>4.Dinning Tables</b>
                   </p>
                </td>
            </tr>
             <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 5.Shoe Ruck</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>6.Chest of Drawer</b>
                   </p>
                </td>
            </tr>
             <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 7.Sofa Sets seats</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>8.Home Fittings</b>
                   </p>
                </td>
            </tr>
             <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 9.Wardrobe</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>10.Door Fitting</b>
                   </p>
                </td>
            </tr>
        </table>
<h4><u>I offer the following types of Skills and Services:</u></h4>
 <table style="">
            <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 1.Web system design and Development</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>2.Drawing and Painting</b>
                   </p>
                </td>
            </tr>
 <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 3.Data Entry</b>
                   </p>
                </td>
            <td>
                   <p style="margin-right:450px">
                       <b>4.Data collection</b>
                   </p>
                </td>
            </tr>
             <tr>
                <td>
                   <p style="margin-left:450px">
                       <b> 5.Electrical Connection</b>
                   </p>
                </td>

            </tr>
 </table>
        <h1><u>Where to Find Me</u></h1>
        <h4><i>You can find me next to Cheers Hotel in Mlolongo Machakos County</i></h4>

    </div>
        <h1><u>You Can Reach Out To Me Personally Through:</u></h1>

    <div style="margin-top:15px;background-color:#77cde3">
               <ul>
    <li>My Mobile Number: 0715782132(Call or WhatsApp me)</li>
    <li>  My Email Address: joshenterprized@gmail.com</li>
        <li>  My Email Address: adejosh6759@gmail.com</li>
    <li>My Facebook Page:Josh Enterprises</li>
</ul>
        </div>
</div>
</center>

{% endblock %}