{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %}My Port Folio{% endif %}
{% endblock %}

{% block content %}
<center><h1>My Works And Projects</h1></center>
<fieldset>
    <legend style="font-size:30px"><b><i>Faridi School</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridiT.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Students Toilet</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridi.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Dinning Tables & Benches</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridi1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Teacher's Desk</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridi3.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Grade 1 Desks</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridi4.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Grade 1 Table</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridi5.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Grade 1 Chair</span>
      </div>

</div></td>
        </tr>
        <tr>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/faridi6.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">White Board</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/stable2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Grade 1 Desks</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/art.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Art Paint</span>
      </div>

</div></td>
        </tr>
    </table>
</fieldset>
<fieldset>
   <legend style="font-size:30px"><b><i>Good Steps Junior Academy</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/stable.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Learning Table</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/step1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Learning Table</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/steps2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Learning Table</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/steps3.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Learning Table</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/steps.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Picket Fence</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/steps1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Learning Table</span>
      </div>

</div></td>

        </tr>
    </table>
</fieldset>
<fieldset>
   <legend style="font-size:30px"><b><i>Beko Cooker Stand</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko3.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko4.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko5.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>

        </tr>
    </table>
</fieldset>
<fieldset>
    <legend style="font-size:30px"><b><i>City Walk Perfume Shop</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city3.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city4.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city5.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city7.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
</td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/city8.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">City Walk</span>
      </div>

</div></td>
        </tr>
    </table>
</fieldset>
<fieldset>
   <legend style="font-size:30px"><b><i>Displays and Stands</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/cr.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">All Star Tech</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/creo1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">All Star Tech</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/creo2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">All Star Tech</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/creo3.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">All Star Tech</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/creo4.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">All Star Tech</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/creo5.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Glass Display</span>
      </div>

</div></td>
 <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/creo6.jpg' %}"height="300px"width="200px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Display Shelf</span>
      </div>

</div></td>

        </tr>
    </table>
</fieldset>
<fieldset>
   <legend style="font-size:30px"><b><i>Beko Cooker Stand</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko3.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko4.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/beko5.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Beko</span>
      </div>

</div></td>

        </tr>
    </table>
</fieldset>
<fieldset>
    <legend style="font-size:30px"><b><i>Von Stands & Highlands</i></b></legend>
    <table>
        <tr>
           <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/von2.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Von Highland</span>
      </div>

</div></td>
        <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/von3.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Von Stand</span>
      </div>

</div></td>
       <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/von4.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Von Highland</span>
      </div>

</div></td>
        </tr>
        <tr>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/von5.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Von Highland</span>
      </div>

</div></td>
             <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/von6.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Von Highland</span>
      </div>

</div></td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/von1.jpg' %}"height="300px"width="300px">
                  </a>
                 <br> <span class="shop-item-title shop-item-details">Von Stand</span>
      </div>

</div></td>
</td>

        </tr>
    </table>
</fieldset>
{% endblock %}