{% extends 'base.html' %}

{% block title %} About Us {% endblock title %}
{% block header-content %}
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 {% endblock header-content %}

{% block content %}
<center><h1>Our Products</h1>
<div style="border-style:groove;border-size: 7px blue;border-radius:20px;border-height:80px">
    <p style="font-size:20px">When it comes to quality and affordable stationary solutions for office, school,companies
    Teachers or even individuals, we offer every type of stationary solutions.
    You can place your order be it in bulk or small quantity as we also offer whole sale and retail. You can easily place your order through our website <button style="background-color:pink"><a href="{% url 'feedback' %}">Here</a></button>, Email us or even call us to place your order.
    </p>
</div>

</center>
<
{% endblock %}