{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staionary</title>
</head>
<body>

<div>
    <p class="mb-0 text-red" style="font-size:30px;font-color:red;"><a class="text-white" href="{% url 'index' %}"style="border-style: groove; border-width: 5px;border-color: coral;background-color:#65fe08;"><i class="fa fa-home" aria-hidden="true"></i>Back Home</a>
</div>
<div style="color:blue">
    <h1>Available Stationary in Stock : ({{posts.count}})</h1>
</div>

<br>
<table>
    <tr>
        <td>
            <div>
                <img src="{% static 'img/pen1.jpeg' %}" height="450px"width="580px"style="">
            </div>

        </td>

        <td>
            <div style="margin-right:0px">
                <img src="{% static 'img/pen4.jpeg' %}" height="450px"width="350px"style="float:right">
            </div>
        </td>
        <td>
             <div style="margin-right:0px">
                <img src="{% static 'img/pen5.jpeg' %}" height="450px"width="480px"style="float:right">
            </div>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <div>
                <center><img src="{% static 'img/pen3.jpeg' %}" height="450px"width="650px"style="margin-left:46px;float:center"></center>
            </div>
        </td>
        <td>
            <div style="margin-right:18px">
                <img src="{% static 'img/pen2.jpeg' %}" height="450px"width="650px"style="float:right">
            </div>
        </td>
    </tr>
</table>

{% for post in posts %}
<di>
<table class="card"style="width:100%;background-color:pink">
    {% csrf_token %}
    <tr>
<td style="width:70%;text-align:center">
    <div class="card_header">

        <div class="profile_image"style="float:left;">
            <img style="display: inline-block;
            height: 65px;
            width: 65px;
            padding: 0;
            margin: -3px;
            border: 0 solid #000;
            border-radius: 30%;" src="{{post.author.profile.image.url}}" alt="">
        </div>

        <div class="post_info"style="float:left">
            <h1><a href=""><div class="post_name"><b>{{post.author}}</b></div></a></h1>
            <div class="post_location">{{post.author.profile.address}}</div>
        </div>


    </div>

    <div class="caption"style="background-color:white;border-radius:5px;margin-top:20px">
        <div class="post_image"style="width:100%">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="">
        {% endif %}

        {% if post.video %}
        <video src="{{post.video.url}}" controls height="100%" width="100%"></video>
        {% endif %}
    </div>
    </div>
</td>
    <td style="100%">
        <div>
    <p><h3 style="margin-left:70px;font-size:40px;top:50px">{{ post.body }}</h3></p>
    </div>
    <div class="engagement">

    <div class="caption"style="text-align:center">
        <span><p><h5>-{{post.caption}}</h5></p></span>
    </div>
        Posted on: {{post.created_date | date:"F d, Y"}}

    </div>

</div>
    </td>
</tr>
</table>
    {% endfor %}</di>
</body>
</html>