{% extends 'base.html' %}

{% block title %} Contact Us {% endblock title %}
{% block header-content %}
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 {% endblock header-content %}

{% block content %}
<center><h1>Our Contacts</h1>
<div style="border-style:groove;border-size: 7px blue;border-radius:20px;border-height:80px">
    <h4><i class="fa fa-phone" aria-hidden="true"></i>Our Phone Number:0720570751 /<br>
    0732917947<br>
    <i class="fa fa-google-plus-square"></i>Email Address:lizayasolutionsltd@gmail.com</h4>
</div>
    
</center>
<
{% endblock %}