{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Josh Classicals {% endif %}
{% endblock %}

{% block content %}
   <div class="container-fluid">
      <div class="row" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">

                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/corner.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Corner Stand</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 15000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>

                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/coffeetable1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Coffee Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 10000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/corner1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Corner Stand</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 15000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/shelve.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Shelve</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 10000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/Rasta.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Ras Seat</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 6500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/shoer4.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Shoe Ruck1</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 3500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/shoeruck1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Shoe Ruck2</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 5500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/stable.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">School Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 4500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/stable1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Study Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 15000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/stable2.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Study Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 15000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/stable3.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 5000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/stand.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Tv Stand</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 10000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/stand1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Tv Stand</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 10000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/StandA.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Cabinet</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 10000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/table1.jpg' %}" alt="..." style="height: 200px; width: 220px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Coffee Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 4500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/TableStand.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Classy Table</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 8500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/WallUnitA.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">4ft Wall Unit</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 15000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/WallUnitB.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">5ft Wall Unit</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 20000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/WallUnitC.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">5ft Wall Unit</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 20000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/wardrobe1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Wow Wardrobe</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 18000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/wardrobe2.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href=""> Wardrobe</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 18000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/table5.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Table 2</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 5500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/Dtable1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Table 2</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 6500
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/Dtable2.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Table 3</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 8000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/chest1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">Chest Drawer</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 10000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/bed1.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">4*6 Bed 1</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 24000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
                   <div class="col-md-4 item_search">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'img/bed2.jpg' %}" alt="..." style="height: 200px; width: 190px">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="">4*6 Bed 2</a>
                                </h3>
                                <p class="text"style="font-size:20px;color:red">Kshs. 16000
                                    <button type="submit"class="text"style="background-color:pink">
                                        <a href="{{ product.get_absolute_url }}">Check Details?</a></button>
                                </p>

                            </div>
                        </div>

                      </div>
              </div>


          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Furniture Categories</h4>
            <ol class="list-unstyled">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'shops:Home' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}

