{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Josh Classicals {% endif %}
{% endblock %}

{% block content %}
  <h1 style="font-size:18px;font-family:verdana;"><b><u>OUR AVAILABLE PRODUCTS:</u></b></h1>

<div class="row fadein">

    {% for item in object_list %}
    <div class="col">
    </div>
    {% endfor %}
</div>
<div style="border-style:block">
    <table id="myTable">
        <tr class="header">
  <td><div class="shop-item">
            <a class="lightbox"href="#2Table"style="height:">
                    <img class="shop-item-image"src="{% static 'img/corner.jpg' %}"height="300px"width="300px">
            </a><br> <span class="shop-item-title shop-item-details">Corner Stand</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh15000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="">Add To Cart</button>
      <div class="dropdown">
      <a onclick="myDropdown()" class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. color:Black n White</a>
              <a class="list">2. Length:3ft</a>
              <a class="list">3. Height:6ft</a>
          </div></div></div>

  </td>
<td> <div class="shop-item">
    <a class="lightbox"href="#cTable">
                    <img class="shop-item-image"src="{% static 'img/bed1.jpg' %}"height="300px"width="300px">
    </a>
     </a><br> <span class="shop-item-title shop-item-details">Bed 1</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh10000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button">Add To Cart</button>
     <div class="dropdown">
      <a onclick="myDropdown()" class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Size:4ft * 6 ft</a>
              <a class="list">2. color:Mahogany Light</a>
              <a class="list">3. Height:Normal</a>
              <a class="list">4. 2 Stools</a>
          </div></div>
      </div>

 </div>
</td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/bed2.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Bed 1</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh12000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:5 * 6 ft</a>
              <a class="list">2. color:Walnut Dark</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td></tr></table>
{% endblock %}

