{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Josh Classicals {% endif %}
{% endblock %}

{% block content %}
<fieldset style="height:500px">
          <legend style="font-size:30px"><b><i>Gallery:</i></b></legend>
          <div class="slider" id="main-slider"style="margin-top:1px;margin-left:250px"><!-- outermost container element -->
	<div class="slider-wrapper"><!-- innermost wrapper element -->
		<img src="{% static 'img/corner1.jpg' %}" alt="" class="slide" height="450px"width="850px"/><!-- slides -->
        <img src="{% static 'img/coffeetable1.jpg' %}"alt=""class="slide"height="450px"width="850px"/>
		<img src="{% static 'img/Dtable.jpg' %}" alt="" class="slide" height="450px"width="850px"/>
        <img src="{% static 'img/wardrobe1.jpg' %}"alt=""class="slide"height="450px"width="850px"/>
		<img src="{% static 'img/shelve.jpg' %}" alt="" class="slide" height="450px"width="850px"/>

	</div>

          </div>
</fieldset>
  <h1 style="font-size:18px;font-family:verdana;"><b><u>OUR AVAILABLE PRODUCTS CATEGORIES:</u></b></h1>
<fieldset>
    <legend style="color:blue;font-size:30px">Bed Category</legend>
<div style="border-style:block">
    <table id="myTable">
        <tr class="header">
  <td><div class="shop-item">
            <a class="lightbox"href="#2Table"style="height:">
                    <img class="shop-item-image"src="{% static 'img/bedi2.jpg' %}"height="300px"width="300px">
            </a><br> <span class="shop-item-title shop-item-details">Bed 1</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh15000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
      <div class="dropdown">
      <a onclick="myDropdown()" class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. color:Mahogany light</a>
              <a class="list">2. size:4ft * 6ft</a>
              <a class="list">3. Wood: Bluegum</a>
          </div></div></div>

  </td>
<td> <div class="shop-item">
    <a class="lightbox"href="#cTable">
                    <img class="shop-item-image"src="{% static 'img/bed1.jpg' %}"height="300px"width="300px">
    </a>
     </a><br> <span class="shop-item-title shop-item-details">Bed 2</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh18000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
     <div class="dropdown">
      <a onclick="myDropdown()" class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Size:4ft * 6 ft</a>
              <a class="list">2. color:Walnut</a>
              <a class="list">3. Wood:bluegum</a>
              <a class="list">4. 1 Side Bed</a>
          </div></div>
      </div>

 </div>
</td>
            <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/bed2.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Bed 3</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh15000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:4 * 6 ft</a>
              <a class="list">2. color:Mahogany light</a>
              <a class="list">3. Wood: Bluegum</a>
          </div></div></div>

                </div></td></tr>

<tr>
 <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/DoubleDecker1.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Double Decker 1</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh20000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:4 * 6 ft</a>
              <a class="list">2. color:Mahogany light</a>
              <a class="list">3. Wood: Bluegum</a>
          </div></div></div>

</div></td>
    <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/DoubleDecker2.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Double Decker</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh13000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:4ft * 6 ft</a>
              <a class="list">2. color:Walnut Dark</a>
              <a class="list">3. Wood: Bluegum</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/bedi1.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Bed 4</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh18000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:4 * 6 ft</a>
              <a class="list">2. color:Mahogany</a>
              <a class="list">3. Wood: Bluegum</a>
          </div></div></div>

</div></td>
</tr></table></fieldset>
<fieldset style="margin-top:15px">
     <legend style="color:blue;font-size:30px">Table Category</legend>
<table>
    <tr>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/Dtable1.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Table 1</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh7000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:2ft * 4 ft</a>
              <a class="list">2. color:Mahogany & White</a>
              <a class="list">3. Design:Classic</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/Dtable2.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Table 2</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh12000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:2ft * 4 ft</a>
              <a class="list">2. color:Chocolate & White</a>
              <a class="list">3. Design:Classy</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/table8.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Table 4</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh4000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:2ft * 4 ft</a>
              <a class="list">2. color:Blue & White</a>
              <a class="list">3. Design:Study</a>
          </div></div></div>

</div></td>
</tr>
<tr>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/TableStand.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Table Stand</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh5000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:1.5ft * 3ft</a>
              <a class="list">2. color:Chocolate & Pink</a>
              <a class="list">3. Design:Sing Stand</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/table6.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Table 5</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh6500</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:2ft * 4ft</a>
              <a class="list">2. color:Chocolate & Beach</a>
              <a class="list">3. Design:Curvey</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/tableB.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Table 6</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh4000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Bed Size:2ft * 4ft</a>
              <a class="list">2. color:Cherry</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td>
</tr>
    </table></fieldset>
<fieldset style="margin-top:15px">
     <legend style="color:blue;font-size:30px">Shoe ruck Category</legend>
<table>
    <tr>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/shoer4.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Shoe Ruck 1</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh4000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Height:4ft</a>
              <a class="list">1. Length:2.5ft</a>
              <a class="list">2. color:Chocolate White</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/shoeruck1.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Shoe Ruck 2</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh6000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
             <a class="list">1. Height:5ft</a>
              <a class="list">1. Length:4ft</a>
              <a class="list">2. color:White Blue</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/shoe1.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Shoe Ruck 3</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh4000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
             <a class="list">1. Height:4ft</a>
              <a class="list">1. Length:3ft</a>
              <a class="list">2. color:Walnut</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td>
</tr>
<tr>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/shoe2.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Shoe Ruck 4</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh8000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
             <a class="list">1. Height:4ft</a>
              <a class="list">1. Length:3ft</a>
              <a class="list">2. color:White</a>
              <a class="list">3. Design:Board</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/shoe3.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Shoe Ruck 5</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh3500</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
             <a class="list">1. Height:4ft</a>
              <a class="list">1. Length:2.5ft</a>
              <a class="list">2. color:White Blue</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td>
     <td> <div class="shop-item">
                  <a class="lightbox"href="#5Bed">
                    <img class="shop-item-image" src="{% static 'img/shoe4.jpg' %}"height="300px"width="300px">
                  </a>
                 </a><br> <span class="shop-item-title shop-item-details">Shoe Ruck 6</span>
      <h class="shop-item-details"style="font-size:20px;"><b>Price:</b>
          <p class="shop-item-price"><b>Ksh3000</b></p></h>
          <br>
          <button class="btn btn-primary shop-item-button"style="width:100px">Add To Cart</button>
                 <div class="dropdown">
                     <a class="btn-info"><b>Details</b></a>
          <div id="mydropdown"class="info-content">
              <a class="list">1. Height:4ft</a>
              <a class="list">1. Length:2.5ft</a>
              <a class="list">2. color:Cherry</a>
              <a class="list">3. Design:Normal</a>
          </div></div></div>

</div></td>
</tr>
    </table></fieldset>
{% endblock %}

